@import "tailwindcss";

@theme {
  --color-primary: #7e2b34;
  --color-primary-light: #d14b5a;
  --color-primary-dark: #5a1c24;
  --color-secondary: #4B1E2F;
  --color-dark: #212529;
  
  --font-roboto: "Roboto", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

@layer base {
  body {
    @apply font-open-sans bg-white text-dark;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-roboto font-bold;
  }
}