@import "tailwindcss";

@theme {
  --color-primary: #7e2b34;
  --color-primary-light: #d65c6b;
  --color-primary-dark: #5a1c24;
  --color-primary-contrast: #fde8ea;
  --color-secondary: #4B1E2F;
  --color-dark: #212529;
  
  --font-roboto: "Roboto", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

@layer base {
  body {
    @apply font-open-sans bg-white text-dark;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-roboto font-bold;
  }

  /* Hide scrollbars on mobile */
  @media (max-width: 768px) {
    *::-webkit-scrollbar {
      display: none !important;
    }
    * {
      -ms-overflow-style: none !important;
      scrollbar-width: none !important;
    }
  }
}